@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

:root{
    --primcolor: #00008B;
}

*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

.al-center{
    text-align: center !important;
}

.section{
    position: relative;
    width: 100%;
    padding: 4rem 2rem;
}
.container{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
}
.container-left{
    position: relative;
    width: 50%;
    height: auto;
    padding: 2rem 1rem;
    text-align: left;
}
.container-right{
    position: relative;
    width: 50%;
    height: 100%;
}

.container-heading{
    position: relative;
    margin-bottom: 2rem;
    text-align: left;
    font-size: 2.6rem;
    font-family: 'Roboto', sans-serif;
    color: #fec107;
}
.container-desc{
    position: relative;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: darkslategrey;
    font-weight: 500;
}


.horizontal{
    flex-direction: row;
    justify-content: space-evenly;
}
.vertical{
    flex-direction: column;
    justify-content: center;
}


.section-heading{
    position: relative;
    margin: 1rem auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    text-transform: capitalize;
}

.subtitle{
    position: relative;
    margin: 0 auto 2rem;
    font-size: 1rem;
    max-width: 80%;
    color: darkslategray;
    font-weight: 500;
    text-align: center;
}



.hero{
    position: relative;
    width: 100%;
    height: 100vh;
}
.hero-video{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.hero-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: #FFF;
    text-align: center;
}
.hero-logo{
    position: relative;
    margin-bottom: 2rem;
    width: 10rem;
}
.hero-left{
    width: 55vw;
}
.hero-title{
    font-size: 4rem;
    font-weight: 600;
    color: #fec107;
}
.hero-right{
    width: 45vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero-anim{
    position: relative;
    width: 500px;
    height: 500px;
}
.hero-heading{
    font-family: 'Roboto', sans-serif;
    font-size: 4rem;
    font-weight: 600;
    text-align: left;
    color: #FFF;
}
.hero-desc{
    margin: 1rem auto;
    max-width: 60%;
    font-size: 1.2rem;
    text-align: center;
    color: #FFF;
}
.hero-btn{
    position: relative;
    margin: 1rem 0;
    padding: 1rem 1.25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #FFF;
    color: #111;
    font-weight: 500;
    border-radius: 6px;
    transition: all .3s ease;
}
.hero-btn i{
    font-optical-sizing: 15rem;
}
.hero-btn:hover{
    letter-spacing: .20rem;
}
.main-btn{
    position: relative;
    margin: 1rem auto;
    width: auto;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #f04400;
    color: #FFF;
    font-weight: 500;
    border-radius: 28px;
    transition: all .3s ease-in-out;
}
.main-btn p{
    color: #FFF;
}
.main-btn:hover{
    background: #fec107 !important;
    transform: scaleX(1.05);
}



.poster{
    padding-top: 2rem;
    height: auto;
    background: url('./img/posterbg.png') center/cover no-repeat;
    background-attachment: fixed;
    color: #FFF;
}

.poster-right{
    width: 50%;
    text-align: end;
    padding-right: 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}
.poster-right .main-btn{
    margin: 1rem 0;
    background: #FFF;
    color: #222;
}
.devices{
    position: relative;
    width: 560px;
}




.features{
    background-color: azure;
}
.features .section-heading{
    color: #292826;
}
.features-container{
    margin-top: 2rem;
    flex-wrap: wrap;
}
.features-item{
    position: relative;
    margin: 1rem;
    width: 280px;
    height: 360px;
    background-color: #FFF;
    border-radius: 4px;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 24px solid #F9D342;
    overflow: hidden;
    transition: all .3s ease-in-out;
}
.features-item--img{
    position: relative;
    width: 100%;
    height: 24vh;
    object-fit: cover;
    object-position: center;
    margin-bottom: 1rem;
}
.card-anim{
    position: relative;
    margin-bottom: 2rem;
    width: 120px;
    height: 120px;
}
.features-item--title{
    padding: 0 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    text-align: center;
}
.features-item--desc{
    padding: 0 1rem;
    text-align: center;
}

.course-wrapper{
    position: relative;
    padding: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: aliceblue;
}
.course-anim{
    position: absolute;
    top: 0;
    right: 0;
    width: 720px;
    height: 100%;
    object-fit: cover;
    clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.course-wrapper .main-btn{
    margin-top: 4rem;
}


.channel-gallery{
    position: relative;
    width: 100%;
    height: auto;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.channel-img{
    position: relative;
    margin: 0 1rem;
    width: 18rem;
    height: auto;
    align-self: center;
    border-radius: 18px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}




.gallery{
    position: relative;
    width: 100%;
    height: auto;
    background: azure;
}
.gallery h1{
    color: #333;
}
.gallery-img{
    width: 280px;
    height: auto;
    border-radius: 16px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
}

.splide__slide{
    width: 280px;
    height: auto;
    border-radius: 16px;
}
.splide__arrow{
    position: relative;
    margin-top: 2rem;
    width: 24px;
    height: 24px;
    font-size: 1.2rem;
    display: grid;
    place-content: center;
    background: rgba(0, 0, 50, 0.8);
}


.aboutus{
    height: 100vh;
    background-color: #FFF;
}
.aboutus-container{
    justify-content: space-between !important;
}
.about-right .hero-anim{
    width: 100%;
    margin: 0 auto;
}
.aboutus .hero-btn{
    color: #FFF;
}
.about-img{
    position: absolute;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    border-radius: 16px;
    transition: all .3s ease;
}
.about-img:hover{
    transform: scale(1.1);
}

.partners-container{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.partners-container .subtitle{
    position: relative;
    margin: 1rem auto;
    font-size: 1rem;
    color: #333;
    font-weight: 500;
}
.partners-container .title{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.partners-wrapper{
    position: relative;
    margin: 2rem auto;
    padding: 0 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 4rem;
}
.partner-card{
    position: relative;
    flex: 1;
    padding: .75rem;
    background: #292826;
    border-radius: 16px;
    box-shadow: 1px 1px 20px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition: all .3s ease;
}
.partner-img{
    position: relative;
    margin-right: 1rem;
    width: 64px;
    height: 64px;
    border-radius: 16px;
}
.partner-content{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.partner-content p{
    position: relative;
    margin-bottom: .5rem;
    font-size: .9rem;
    color: aqua;
    font-weight: 500;
}
.partner-card h3{
    color: #FFF;
}

.partner-card:hover{
    background: #F9D342;
}
.partner-card:hover .join-now{
    color: #444;
}
.partner-card:hover .partner-name{
    color: #222;
}


.disclaimer{
    position: relative;
    text-align: left;
}





.contact{
    padding: 0;
    height: 100vh;
    background: url('./img/contactbg.jpg') center/cover no-repeat;
    background-attachment: fixed;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(50, 0, 0, 0.45);
}


footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 1rem;
    background-color: rgb(40,0,20);
    font-size: .8rem;
    color: #FFF;
}


@media (max-width: 768px) {

    header{
        padding: 1rem;
    }
    .nav-logo{
        width: 60px;
        margin-right: -1rem;
    }
    .logo-title{
        font-size: 1.25rem;
    }

    .section{
        padding: 0rem;
    }
    .section-heading{
        margin-top: 2rem;
        font-size: 2rem;
    }

    .hero{
        height: 85vh;
    }
    .hero-title{
        font-size: 2rem;
        text-align: center;
    }
    .hero-desc{
        max-width: 100%;
        font-size: 1rem;
    }

    .hero-anim{
        width: 100vw;
    }

    .features-item{
        margin: 1rem 0;
    }

    .course-wrapper{
        flex-direction: column;
    }
    .course-content{
        margin-bottom: 5vh;
    }

    .horizontal{
        flex-direction: column;
    }
    .container-left, .container-right{
        width: 100%;
        padding: 0;
    }

    .tagline{
        font-size: 1.2rem;
    }
    .poster-right{
        width: 100%;
        margin-top: 2rem;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .devices{
        width: 80vw;
    }

    .course-wrapper .hero-btn{
        transform: unset !important;
    }
    .course-anim{
        width: 100%;
        height: auto;
        position: relative;
        top: unset;
        right: unset;
        clip-path: unset;
        border-radius: 20px 4px 20px 4px;
    }

    
    .partners-container{
        padding: 1rem 0;
    }
    .partners-container .subtitle{
        max-width: 100%;
    }
    .partners-wrapper{
        padding: 0 1rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: unset;
    }
    .partner-card{
        margin: .75rem auto;
        flex: unset;
        width: 100%;
    }
    

    .aboutus{
        padding-top: 0rem;
        height: auto;
    }
    .about-right{
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .about-img{
        position: relative;
        width: 150px;
        box-shadow: none;
    }
    .container-desc{
        font-size: 1rem;
    }


    .splide__slide, .gallery-img{
        width: 90vw;
    }

    .hero-heading{
        font-size: 2rem;
    }

    footer p{
        font-size: .5rem;
    }
}
